mat-slider {
  width: 100%;
  color: white;
}

chart-container {
    width: 1000px;
}

mat-card-title {
  font-weight: bold;
  margin-bottom: 12px;
}

mat-card {
  background-color: #232323;
  text-align: left;
}

mat-expansion-panel {
  background-color: #333333;
  margin: 0.5em;
}

mat-expansion-panel-header {
  padding: 0.75em;
}

.red-border {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

.grey-border {
  border-color: rgba(77,83,96,1);
  border-width: 2px;
  border-style: solid;
}

.neutal-border {
    border-color: #ccc;
    border-width: 2px;
    border-style: solid;
}

.small {
  font-size: small;
}