<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <span>Mining revenue calculator</span>
  </mat-toolbar>
  <p><a routerLink="/time-span" routerLinkActive="active">Time Span</a> | <a routerLink="/moment" routerLinkActive="active">Moment in Time</a></p>
  <mat-tab-group>
    <mat-tab label="First" a routerLink="/time-span" routerLinkActive="active">Time Span</a></mat-tab>
    <mat-tab label="Second" a routerLink="/moment" routerLinkActive="active">Moment in Time</a> </mat-tab>
  </mat-tab-group>
<router-outlet></router-outlet>
