.footer {
    margin-top: 14px;
    text-align: center;
    width: 100%;
    height: 60px;
}

.footer a {
    text-decoration: none;
    font-size: small;
}

.mat-toolbar {
    height: 105px;
}

.heading-text {
    font-size: medium;
    margin-top: 2px;
    margin-left: 20px;
    margin-bottom: 47px;
}

.logo {
    margin-top: 31px;
}