/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    background-color: #232323;
    color: #ffffff;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a.active {
    color: inherit;
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #dddddd;
}

mat-card {
    background-color: #232323;
  } 

.label {
  margin: 0 0 6px 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

.has-label {
  color: white;
  margin-top: 2px;
  font-size: 14px;
}