@import '~@angular/material/theming';
@include mat-core();

// ...

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-lime, 400, 500, A100);
$my-app-warn:    mat-palette($mat-cyan);

$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);
