<div fxLayout="row">

  <div fxFlex="1 1 0"></div>

  <mat-card fxFlex="0 1 1200px">

    <div fxLayout="row" fxLayoutGap="15px">
      <div>
        <mat-form-field>
          <input matInput (change)="valuesChanged($event)" [(ngModel)]="energy" placeholder="Energy in kWh">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput (change)="valuesChanged($event)" [(ngModel)]="powerEfficiency"
            placeholder="Powerefficiency in J/TH">
        </mat-form-field>
      </div>
    </div>


    <div fxLayout="row" fxLayoutGap="15px">
      <div fxFlex="0 0 180px">
        <div>
          <p class="label">Hash</p>
          <p class="has-label">{{ hash | number:  '1.2-2' }} TH</p>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput (change)="valuesChanged($event)" [(ngModel)]="totalHashPower"
            placeholder="Total Hash Power in TH/s">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="15px">
      <div>
        <div fxFlex="0 0 180px">
          <p class="label">Bitcoin</p>
          <p class="has-label">{{ bitcoin | number:  '1.2-10' }} BTC</p>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput (change)="valuesChanged($event)" [(ngModel)]="btcToEur" placeholder="Bitcoin Price in €/BTC">
        </mat-form-field>
      </div>
    </div>

    <div>
      <p class="label">Euro</p>
      <p class="has-label">{{ euro | number:  '1.2-4' }} €</p>
    </div>



  </mat-card>

  <div fxFlex="1 1 0"></div>

</div>